*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Odense Book;
    src: url(images/OdenseBook.ttf);
}

.logo{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin: 50px auto;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 900;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: #59d5c9;
}

.main{
    background-image: url("images/the-beacon.jpg");
    background-size: contain;
    margin-top: 30px;
    padding: 60px 100px;
    border: 2px solid #333;
    overflow: hidden;
    height: 730px;
}
.mainContainer{
    margin-left: auto;
    margin-right: 200px;
    float: right;
}
.main h2{
    display: block;
    background-color: white;
    margin: 50px 20px 30px 15px;
    padding: 22px;
    width: 650px;
    height: 70px;
    font-size: 30px;
    font-family: "Odense Book";
    letter-spacing: 2px;
    text-align: center;
}
.p1{
    display: block;
    background-color: #333;
    color: white;
    margin: 15px;
    padding: 15px;
    width: 520px;
    font-size: 28px;
    font-family: Arial;
    text-align: center;
}
.p2{
    display: block;
    background-color: #333;
    color: white;
    margin: 15px;
    padding: 15px;
    width: 600px;
    font-size: 28px;
    font-family: Arial;
    text-align: center;
}
.p3{
    display: block;
    background-color: #333;
    color: white;
    margin: 15px;
    padding: 15px;
    width: 480px;
    font-size: 28px;
    font-family: Arial;
    text-align: center; 
}
.main button{
    background-color: #59d5c9;
    color: white;
    border: none;
    margin: 20px 15px;
    padding: 28px;
    font-size: 18px;
    font-family: Arial; 
}
.main button:hover{
    background-color: #333;
}

.gallery{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-family: "Copperplate", fantasy;
    letter-spacing: 2px;
}
.gallery img{
    border: 2px solid #333;
    margin-right: 50px;
}
.gallery p{
    margin-right: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 50px;
    margin-top: 50px;
    height: 130px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}
.copyright{
    margin-right: 700px;
}
.footer-logos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}